<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>


<!-- script for all pages -->
<script src="js/sb-admin.min.js"></script>

<!-- Tools -->
<script src="js/tools.js"></script>


<%- include('logout') %>