<!--HEADER-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Data Farming App">
<meta name="author" content="SpecialBlend Production">
<title>SBQC</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
<link rel="stylesheet" href="css/mdb.min.css" />


<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js" ></script>

<script src="https://cdn.jsdelivr.net/npm/moment@latest/moment.min.js"></script>

<link rel="stylesheet" href="css/sbqc.css" />
