<div id="hoverElement" class="blue">Hover over me to animate!</div>
<footer class="container padding-16 light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https:/specialblend.ca" target="_blank">specialblend.ca</a>, inspired by<a href="https://www.w3schools.com/w3css/default.asp" target="_blank"> w3.css</a></p>
</footer>