<!--NAV BAR-->

<nav class='navbar navbar-expand-lg fixed-top  semi-translucent-navbar'>  
 
    <div class="container">
        <a class="navbar-brand" href="/index"><img src="img/favicon.ico" height=48></a>
        
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-center">

            <li class="nav-item"  title="Earth">
                <a class="nav-link" href="/earth"> <i class="fas fa-fw fa-globe"></i> <span class="nav-link-text">Earth</span> </a>
            </li>

            <li class="nav-item" title="ISS Detector">
                <a class="nav-link" href="/iss-detector"><i class="fas fa-fw fa-satellite"></i><span class="nav-link-text">ISS Detector</span></a>
            </li>

            <li class="nav-item"  title="Tools">
                <a class="nav-link" href="/tools"> <i class="fas fa-fw fa-tools"></i> <span class="nav-link-text">Tools</span> </a>
            </li>

            <li class="nav-item"  title="Live">
                <a class="nav-link" href="/live"> <i class="fas fa-fw fa-eye"></i><span class="pl-2 nav-link-text">Live</span> </a>
            </li>

            <li class="nav-item"  title="Legacy stuff & Test dev">
                <a class="nav-link" href="/legacy"> <i class="fas fa-recycle"></i> <span class="nav-link-text">Legacy Stuff</span> </a>
            </li>

            <li class="nav-item"  title="Projects">
                <a class="nav-link" href="/Projects"><i class="fas fa-fw fa-project-diagram"></i><span class="nav-link-text">Projects</span> </a>
            </li>

            <li class="nav-item" title="IoT">
                <a class="nav-link" href="/iot"><i class="fa-solid fa-network-wired"></i><span class="nav-link-text">IoT</span></a>
            </li>
            
            <li class="nav-item" title="3DScene">
                <a class="nav-link" href="/threejs_scene"><i class="fa fa-cube"></i><span class="nav-link-text">3D Scene</span></a>
            </li>

            <!-- Divider before auth section -->
            <li class="nav-item d-none d-lg-block">
                <span class="nav-link text-muted px-2">|</span>
            </li>

            <!-- Authentication Section -->
            <% if (locals.user) { %>
                <!-- User is logged in: Show user dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" 
                       href="#" id="userDropdown" role="button" 
                       data-mdb-toggle="dropdown" aria-expanded="false"
                       title="User Menu">
                        <i class="fas fa-user-circle fa-lg me-2"></i>
                        <span class="nav-link-text"><%= user.name %></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li class="dropdown-header">
                            <small class="text-muted"><%= user.email %></small>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="https://data.specialblend.ca/settings" target="_blank">
                                <i class="fas fa-cog me-2"></i> Settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://data.specialblend.ca/profile" target="_blank">
                                <i class="fas fa-user me-2"></i> Profile
                            </a>
                        </li>
                        <% if (user.isAdmin) { %>
                        <li>
                            <a class="dropdown-item" href="https://data.specialblend.ca/admin" target="_blank">
                                <i class="fas fa-crown me-2 text-warning"></i> Admin
                            </a>
                        </li>
                        <% } %>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="/login/out">
                                <i class="fas fa-sign-out-alt me-2"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            <% } else { %>
                <!-- User is NOT logged in: Show login button -->
                <li class="nav-item">
                    <a class="nav-link" href="/login" title="Login to access enhanced features">
                        <i class="fas fa-sign-in-alt me-2"></i>
                        <span class="nav-link-text">Login</span>
                    </a>
                </li>
            <% } %>

            <!--   <i class="fas fa-fw fa-globe">      <i class="fas fa-leaf"></i>       <i class="fas fa-cannabis"></i>          -->
            </ul>
        </div>   

    </div>
</nav>