<!--NAV BAR-->

<nav class='navbar navbar-expand-lg fixed-top  semi-translucent-navbar'>  
 
    <div class="container">
        <a class="navbar-brand" href="/index"><img src="img/favicon.ico" height=48></a>
        
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-center">

            <li class="nav-item"  title="Dashboard">
                <a class="nav-link" href="/dashboard"> <i class="fas fa-fw fa-dashboard"></i></i> <span class="nav-link-text">Dashboard</span> </a>
            </li>

            <li class="nav-item"  title="Earth">
                <a class="nav-link" href="/earth"> <i class="fas fa-fw fa-globe"></i> <span class="nav-link-text">Earth</span> </a>
            </li>

            <li class="nav-item"  title="Tools">
                <a class="nav-link" href="/tools"> <i class="fas fa-fw fa-tools"></i> <span class="nav-link-text">Tools</span> </a>
            </li>

            <li class="nav-item"  title="Live">
                <a class="nav-link" href="/live"> <i class="fas fa-fw fa-eye"></i><span class="pl-2 nav-link-text">Live</span> </a>
            </li>

            <li class="nav-item"  title="Legacy stuff & Test dev">
                <a class="nav-link" href="/legacy"> <i class="fas fa-recycle"></i> <span class="nav-link-text">Legacy Stuff</span> </a>
            </li>

            <li class="nav-item"  title="Projects">
                <a class="nav-link" href="/Projects"><i class="fas fa-fw fa-project-diagram"></i><span class="nav-link-text">Projects</span> </a>
            </li>

            <li class="nav-item" title="Settings">
                <a class="nav-link" href="/empty"><i class="fas fa-fw fa-cogs"></i><span class="nav-link-text">Settings</span></a>
            </li>
            <li class="nav-item" title="IoT">
                <a class="nav-link" href="/iot"><i class="fa-solid fa-network-wired"></i><span class="nav-link-text">IoT</span></a>
            </li>
            <!--   <i class="fas fa-fw fa-globe">      <i class="fas fa-leaf"></i>       <i class="fas fa-cannabis"></i>          -->
            </ul>
        </div>   

    </div>
</nav>