# Logs
logs
*.log

# Dependency directories
node_modules/

*.mp4
*.rest

*.db
*.pem


# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test


visitCounter.txt

# Ignore project directories because driven by syncRepos.js
public/Projects

*.code-workspace
*.srt
*.key