<!DOCTYPE html>
<html lang="en">

<head>


    <% include partials/head %>

    <title>Curriculum Vitae - Yanik Beaulieu, Technology leader</title>

    <!-- <script language="javascript" type="text/javascript" src="sketch.js"></script> -->

</head>

<style>
    body {
        /* font-family: 'Trebuchet';*/

        line-height: 1.3;
    }



    table {
        border-collapse: collapse;
    }

    td {
        padding: 5px;
        border: solid 0px #ccc;

    }

    .noBorder {
        border: 0px;

    }

    .titre {
        color: rgb(79, 144, 205);
        font-weight: bold;
    }

    .card-title {
        color: rgb(79, 144, 205);
        font-weight: bold;
        text-decoration: underline;

    }

    .head1 {
        background-color: rgb(55, 68, 88);
    }

    .head2 {
        background-color: rgb(43, 52, 63);
    }

    .smallList {
        font-size:13px;
    }

    .circleOn {
        background-color: rgb(79, 144, 205);
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid rgb(79, 144, 205);
        margin: auto;
        color: #fff;
        line-height: 50px;
        text-align: center
    }

    .circleOff {
        background-color: rgb(255, 255, 255);
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid rgb(79, 144, 205);
        margin: auto;
        color: #fff;
        line-height: 50px;
        text-align: center
    }

    .circleSmall {
        background-color: rgba(79, 144, 205, 1);
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid rgba(79, 144, 205, 1);
        margin: auto;
        color: #fff;
        line-height: 50px;
        text-align: center
    }

    .circleMid {
        background-color: rgba(79, 144, 205, 1);
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid rgba(79, 144, 205, 1);
        margin: auto;
        color: #fff;
        line-height: 50px;
        text-align: center
    }

    .circleLarge {
        background-color: rgba(79, 144, 205, 1);
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid rgba(79, 144, 205, 1);
        margin: auto;
        color: #fff;
        line-height: 50px;
        text-align: center
    }


    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
</style>

<body id='page-top'>


    <div class="content-wrapper">
        <div class="container">

            <header class="py-5 head1">
                <div class="container" >
                    <div class="row my-0 py-0  ">

                        <div class="col-9 my-0 py-0 ">
                            <h1 class="ml-4 text-white my-0 py-0" style="font-weight: bold;">Yanik Beaulieu</h1>
                            <h4 class="ml-4  titre my-0 py-0">Directeur de Produits & Gestion de Projets
                                </h3>
                                <p class="ml-4 mt-4 text-white mb-0 py-0">
                                    Avec plus de 17 ans d'expérience dans le domaine des technologies dont 12 ans en Direction de projet 
                                    et 5 ans comme Leader de produit, j'offre aussi une riche expertise en R&D matérielle/logicielle, 
                                    planification stratégique, Vente & Marketing alliant un coté formateur via webinars, white papers, 
                                    instruction en classe et conférences, et ce dans plusieurs contextes internationaux.</p>

                        </div>
                        <div class="col-3 text-center my-0 py-0">
                            <img src="me.jpg" height="150px" class="rounded-circle border border-primary" alt="YB">
                        </div>

                    </div>

                </div>

            </header>

            <header class="py-0 head2">
                <div class="row">
                    <div class="col-4 my-2 text-right ">
                        <p class="text-white m-0 p-0"><i class="fas fa-envelope">
                                &nbsp;&nbsp;<a href="mailto:yanikbeaulieu@gmail.com">yanikbeaulieu@gmail.com</i></p></a>
                    </div>
                    <div class="col-4 my-2 text-center">
                        <p class="text-white m-0 p-0"><i class="fa fa-mobile"> &nbsp;&nbsp;418-803-1801</i></p>
                    </div>
                    <div class="col-4 my-2 text-left">
                        <p class="text-white m-0 p-0"><i class="fas fa-map-marker-alt"> &nbsp;&nbsp;Québec, Canada</i>
                        </p>
                    </div>
                </div>
            </header>


            <div class="row">
                <div class="col-12">

                    <div class="row">

                        <div class="col-6 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">


                                    <h3 class="card-title mt-4">EXPÉRIENCES PRINCIPALES</h3>

                                    <dt>Directeur de programme</dt>
                                    <dd>Desjardins</dd>
                                   
                                    <ul>
                                        <li>Intégration du programme de sécurité à forte croissance et vélocité</li>
                                        <li>Redressement de projet en difficulté</li>
                                    </ul>

                                    <dt>Directeur Technologique</dt>
                                    <dd>Optelgroup</dd>
                                   
                                    <ul>
                                        <li>Leader d'un axe technologique comprenant 5 équipes de développement - logiciel(3), hardware & gestion de produits</li>
                                        <li>Roadmap & planification financière, veille technologique & compétition, plan de comm, objectifs annuels, KPI et gestion humaine</li>
                                    </ul>

                                    <dt>Gestionnaire de Programme</dt>
                                    <dd>Assurance La Capitale</dd>
                                   
                                    <ul>
                                        <li>Gestion d'un Portfolio de 20+ projets en assurant la cohérence interdépartementale</li>
                                    </ul>

                                    <dt>Gestionnaire de Projet</dt>
                                    <dd>Telus</dd>
                                   
                                    <ul>
                                        <li>RITM - Migration des ministères et établissements de santé du Québec
                                            sur la technologie IP/MPLS et les infrastructures Telus</li>
                                    </ul>

                                </div>



                                <h3 class="card-title mt-4 ml-4">CERTIFICATS</h3>

                                <h5 class="ml-4">PSM I (Professional Scrum Master)</h5>
                                <h5 class="ml-4">PMP (Project Management Professionnal)</h5>
                                <h5 class="ml-4">ITIL v3</h5>



                                <h3 class="card-title mt-4 ml-4">ÉDUCATION</h3>

                                <dl class='ml-4'>
                                    <dt>Génie Électrique - Systèmes Ordinés</dt>
                                    <dd>Collège de Limoilou</dd>
                                </dl>


                            </div>
                        </div>





                        <div class="col-6 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4">
                                    <h3 class="card-title mt-4">EXPERTISES</h3>

                                    <table>
                                        <tr>
                                            <td>Product Lead</td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Project Management</td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Programmation (C++ C# Javascript SQL Node.js)</td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOff"></span></td>
                                        </tr>
                                        <tr>
                                            <td>MicroControlleur et systèmes embarqués</td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Graphisme & Modèlisation 3D</td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOn"></span></td>
                                            <td><span class="circleOff"></span></td>
                                        </tr> 

                                    </table>

                                    <h3 class="card-title mt-4">BÉNÉVOLAT</h3>
                                    <dl>
                                        <dt>Mentor - FIRST Compétition Robotique</dt>
                                        <dd>Huskies de Charlesbourg</dd>
                                        <dt>Coach Hockey - PeeWee 'BB'</dt>
                                        <dd>Éclaireurs St-Romuald</dd>
                                        <dt>Échange Interculturel en T.I. - Guatemala/Saskatchewan</dt>
                                        <dd>Canadian World Youth Netcorps-Muni’Kat Association</dd>
                                    </dl>



                                    <h3 class="card-title mt-4 ">MENTIONS HONORABLES</h3>
                                    <p>2 Records canadiens-Vol de formation en Parachutisme<br>
                                        <small class='text-muted font-italic'>Canadian Sport Parachuting
                                            Association</small>
                                    </p>



                                    <h3 class="card-title mt-4 ">LANGUES</h3>

                                    <table class="text-center">
                                        <tr>
                                            <td><span class="circleLarge"></span></td>
                                            <td><span class="circleLarge"></span></td>
                                            <td><span class="circleMid"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Francais</td>
                                            <td>English</td>
                                            <td>Espanol</td>
                                        </tr>
                                    </table>

                                    <h3 class="card-title mt-4 ">INTÉRÊTS</h3>
                                    <p>Skydive, Hockey, Guitare, Innovation Technologique, IoT, Robotics & Automation, Art</p>

                                </div>
                            </div>

                        </div>


                    </div>


                    <!-- PAGE 2 -->


                    <div class="row" style="page-break-before: always">

                        <div class="col-7 my-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">


                                    <h3 class="card-title mt-4">EXPÉRIENCES DÉTAILLÉES</h3>

                                    <dt>
                                        <h4>DIRECTEUR DE PROGRAMME</h4>
                                    </dt>
                                    <dd>Desjardins <small class="text-muted">&nbsp; 2020 – 2021</small></dd> 
                                    <p>
                                        Démarrage du Programme de Sécurité avec focus sur les accès et la conservation des données
                                    </p>
                                    <dt>Envergure & principaux défis :</dt> 
                                        <ul> 
                                            <li>Investissement de 95 millions$ sur 5 ans sur un dossier médiatisé à forte tendance politique</li>
                                            <li>Engagement à courte échéance envers l'AMF<small> (Autorité des Marché Financier)</small></li>
                                            <li>Croissance rapide de 5 à 110 ressources impliqués en 1 an</li>
                                            <li>Réticence à la gestion du changement </li>
                                            <li>Connaissance limité de l'ensemble du parc applicatif</li>
                                        </ul>

                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Gestion de la portée, budget et échéancier pour l'axe des accès et conservation des données</li>
                                        <li>Rôle d'intégrateur dans le programme</li>
                                        <li>Arrimage avec les priorités/initiatives transverses de l'entreprise</li>
                                        <li>Gestion RH et plan de croissance/redressement</li>
                                    </ul>

                                    <dt>Réalisations :</dt>
                                    <ul> 
                                        <li>Redressement et mise a terme d'un projet problématique depuis 5 ans - CRIA<small> (Consolidation des Répertoires d'Identités et Accès)</small></li>
                                        <li>Création et intégration d'un processus basé sur PowerBI pour un suivi automatisé de l'ensemble des collaborateurs au programme</li>
                                        <li>Mise à jour des méthodologies avec l'intégration d'outils de collaboration tel que Jira et Confluence</li>
                                    </ul>


                                    <br>

                                    <dt>
                                        <h4>DIRECTEUR TECHNOLOGIQUE</h4>
                                    </dt>
                                    <dd>Optelgroup <small class="text-muted">&nbsp; 2015 – 2020</small></dd> 
                                    <p>
                                        Projets d’ingénierie de solutions technologiques d’inspection et de « track and trace » dans la chaîne 
                                        d’approvisionnement des industries pharmaceutiques et agro-alimentaire.
                                    </p>
                                    <dt>Envergure & principaux défis :</dt> 
                                        <ul> 
                                            <li>Portfolio de 120 millions$ de revenus annuels axés majoritairement sur l'intégrité de produit, les requis 
                                                législatifs en matière de sérialisation et traçabilité globale dans un contexte international.</li>
                                            <li>Évolution rapide des technologies</li>
                                            <li>Philosophie de solutions clé en main exigeant une grande agilité</li>
                                            <li>Standards élevés reliés au domaine pharmaceutique</li>
                                            <li>Entreprise en forte croissance et restructuration</li>
                                        </ul>

                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Roadmap technologique, Budget et Forecast de vente</li>
                                        <li>Synchronisation des requis des différentes industries pour permettre un roadmap technologique unifié</li>
                                        <li>Développement de nouveaux marchés (Inde, Asie, Europe et Brésil)</li>
                                        <li>Conférences et formation Internationale, Webinar, rédaction de Whitepaper</li>
                                        <li>Création, lancement et suivi de l’ensemble du cycle de vie de produit</li>
                                        <li>Plan de Marketing, formation et assistance à la force de vente<</li>
                                        <li>Veille Technologique & Analyse compétitive</li>
                                        <li>Maintien des relations avec les partenaires d’affaires</li>
                                        <li>Définition/suivi des OKR, KPI et Actions Correctives</li>
                                        <li>Objectifs annuels et révisions salariales</li>
                                    </ul>

                                    <dt>Réalisations :</dt>
                                    <ul> 
                                        <li>Mise en place d'une structure PBO (Project Based Organisation)</li>
                                        <li>Création et lancement d’une 1ere gamme de produits préconfigurés au sein d’une entreprise de solution «custom»</li>
                                        <li>Mise en place d’une équipe de PLM dans un environnement de diversification de marchés</li>
                                    </ul>

                                </div>

                            </div>
                        </div>





                        <div class="col-5 my-4">
                            <div class="card noBorder">
                                <div class="ml-4">


                                    <h3 class="card-title mt-4 ml-4">PERFECTIONNEMENT</h3>

                                    <dl class='ml-4'>
                                        <dt>Communicateur d'Impact</dt>
                                        <dd>Groupe Conscientia</dd>
                                        <dt>Gestionnaire Coach</dt>
                                        <dt>Gestion Humaine du Changement</dt>
                                        <dd>Alia Conseil</dd>
                                        <dt>Lean Management</dt>
                                        <dd>Lean Six Sigma</dd>
                                        <dt>Gestion de Portfolio</dt>
                                        <dd>Fujitsu</dd>
                                        <dt>Unity Game dev Programming</dt>
                                        <dd>Pluralsight</dd>
                                        <dt>Nature of Code - strategies behind computer simulations of natural systems</dt>
                                        <dd>Processing Foundation</dd>
                                        <dt>Évaluer et surmonter le risque des Projets Expérimental-R&D</dt>
                                        <dd>Alphanumeris</dd>
                                        <dt>GMP (Good Manufacturing Practice)</dt>
                                        <dd>International Pharmaceutical Academ</dd>
                                    </dl>


                                </div>
                            </div>

                        </div>

                    </div>



                    <!-- PAGE3 -->

                    <!-- <hr /> -->
                    <div class="row" style="page-break-before: always">

                        <div class="col-8 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">
                                    <br>
                                    <h3 class="card-title mt-4">EXPÉRIENCES DÉTAILLÉES (suite)</h3>
                                    <br>
                                    <dt>
                                        <h4>ENTRAINEUR & GESTIONNAIRE DE PROJETS ÉVÈNEMENTIELS</h4>
                                    </dt>
                                    <dd>Parachutisme NouvelAir <small class="text-muted">&nbsp; 2013 – 2015</small></dd> 
                                    <p>
                                        Plus grand centre de parachutisme au Canada, site d'entraînement des équipes canadiennes 
                                        et hôte d’événements majeurs. Il s’y développe une culture d’esprit sain dans un corps 
                                        sain, orientant vers la performance de compétition et le dépassement de soi.</p>


                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Organisation des Championnats Nationaux de Parachutisme 2013</li>
                                        <ul class="smallList">
                                            <li>Plan de Projet</li>
                                            <li>Suivi / Réalisation</li>
                                            <li>Mise en place du site & Gestion de la sécurité</li>
                                            <li>Gestion des ressources humaines</li>   
                                            <li>Plan de communication - Relation Internationales,  Air-terre, etc.. </li>
                                        </ul>
                                
                                        <li>Élaboration et dépôt de candidatures pour événement Nationaux & Internationaux</li>
                                        <ul class="smallList">
                                            <li>Creation de Portfolio & recherche de partenaires d’affaires</li>
                                            <li>Collecte d’informations</li>
                                            <li>Analyses de Risques - Contraintes internationales, financières, sécurité, niveau de participation</li>  
                                            <li>Plan de projet - Transport, Hébergement, Horaire, Budget</li>
                                            <li>Recherches et négo avec fournisseurs externes</li>
                                        </ul>

                                        <li>Coach / Instructeur / Maitre-Tandem</li>
                                        <ul class="smallList">
                                            <li>Entraîneur de Vol Relatif & Instructeur de Chute libre</li>
                                            <li>Organisateur de grande formation</li>
                                            <li>Instructeur en classe</li>  
                                        </ul>
                                    </ul>

                                    <dt>Réalisations :</dt>
                                    <ul>
                                        <li>Candidature sélectionnée comme Hôte de la Coupe du Monde de Pilotage de voilure 2015</li>
                                        <li>Record Canadien de la plus Grande Formation - 102-Way</li>
                                    </ul>


                                </div>
                            </div>


                        </div>
                        <div class='col-4'></div>
                    </div>

                    <!-- PAGE4 -->

                    <!-- <hr /> -->
                    <div class="row" style="page-break-before: always">

                        <div class="col-8 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">
                                    <br>
                                    <dt>
                                        <h4>GESTIONNAIRE DE PROGRAMME</h4>
                                    </dt>
                                    <dd>Assurance La Capitale <small class="text-muted">&nbsp; 2012 – 2013</small></dd> 
                                    <p>
                                        Portfolio de Projets de développement logiciel pour Unica, compagnie Ontarienne
                                        acquise par La Capitale, majoritairement pour l’intégration de nouveaux produits, 
                                        nouvelles tarifications et ajout/modification de fonctionnalités pour les courtiers, 
                                        en plus du soutien technique et maintenance quotidienne; passant par les phases
                                        d’architecture, de développement, d’assurance qualité et d’implantation </p>


                                    <dt>Envergure & principaux défis :</dt>
                                    <ul>
                                        <li>Portefeuille de projets pour un investissement d'environ 400 000$.</li>
                                        <li>Partage Interdépartemental des ressources</li>
                                        <li>Architecture désuète</li>
                                        <li>Environnements de développement limités</li>
                                    </ul>

                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Gestion du Portefeuille de projet</li>
                                        <ul class="smallList">
                                            <li>Gestion en parallèle de ~20 projets de développement logiciel</li>
                                            <li>Mise en place d’une Planification annuelle de réalisation de projet – «Forecasted baseline»</li>
                                            <li>Suivi de l’Avancement du portefeuille de projet en fonction de la planification annuelle</li>     
                                        </ul>
                                   
                                        <li>Planification de ressources</li>
                                        <ul class="smallList">
                                            <li>Attribution de tâches et Gestion de priorités</li>
                                            <li>Co Gestion d’une équipe de développement logiciel (2 architectes, 4 analystes, 6 dev, 3 SQA)</li>
                                            <li>Collaboration aux mises en place de processus/documentation pour le bureau de projet</li>
                                            <li>Suivi hebdomadaire avec les clients Externes/Internes</li>
                                            <li>Rapports de statuts</li>
                                        </ul>
                                    </ul>
                                    
                                   

                                    <dt>Réalisations :</dt>
                                    <ul>
                                        <li>Mise en place d’un système de visualisation de Capacité/Ressources interdépartementale</li>
                                        <li>Élaboration/conception d’outils utilisant la base de données de MS-Project</li>
                                        <li>Gestion de la mise en place d’une suite de rapports automatisés et alertes</li>
                                    </ul>



                                </div>
                            </div>


                        </div>
                        <div class='col-4'></div>
                    </div>




                    <!-- PAGE 5 -->
                    <!-- <hr> -->
                    <div class="row" style="page-break-before: always">

                        <div class="col-8 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">
                                <br>
                                    <dt>
                                        <h4>GESTIONNAIRE DE PROJETS</h4>
                                    </dt>
                                    <dd>Telus <small class="text-muted">&nbsp; 2009 – 2012</small></dd> 

                                    <p>Projet RITM - Migration des ministères et établissements de santé du Québec sur la
                                        technologie IP/MPLS et les infrastructures réseau de Telus </p>

                                    <dt>Envergure & principaux défis :</dt>
                                    <ul>
                                        <li>5500+ sites à migrer au Québec</li>
                                        <li>Pression médiatique et politique</li>
                                        <li>Structure de projet en cours de déploiement</li>
                                    </ul>

                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Gestion de projets selon les normes du PMI</li>
                                        <li>Support à la gestion de l’équipe et la mise en place d’une structure de Gestion de projet</li>
                                        <ul class="smallList">
                                            <li>Contribution à la distribution des tâches pour uniformiser la charge de travail au sein de l’équipe</li>
                                            <li>Formation des nouveaux PCO</li>
                                        </ul>
                                        <li>Gestion des comptes client attitrés</li>
                                        <li>Synchronisation hebdomadaire avec client et interne</li>
                                        <ul class="smallList">
                                            <li>Animation et logistique</li>
                                            <li>Analyses de risques</li>
                                            <li>Rapport de Gouvernance</li>
                                        </ul>

                                    </ul>
                                    
                                 
                                    


                                    <dt>Réalisations :</dt>
                                    <ul>
                                        <li>Développement d’outils et mise en place de processus au niveau des
                                            interactions entre les différents départements exploitant l’ensemble de la
                                            suite MS-Office</li>
                                        <ul><li class="smallList">orienté vers la production et diffusion web de rapports automatisés et la
                                            gestion de grandes sources de données ainsi que des mécanismes de suivi des
                                            différents jalons importants</li></ul>
                                        <li>Gestion de la mise en place d’une base de données liant les chiffriers des
                                            différents départements pour une gestion uniformisée du « Reporting »</li>
                                        <li>Gestion de la mise en place d’un système de suivi / Relance / Escalade avec
                                            les clients et QA sur les résultats</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PAGE 6 -->
                    <!-- <hr> -->
                    <div class="row" style="page-break-before: always">

                        <div class="col-8 mb-4">
                            <div class="card noBorder">
                                <div class="ml-4 ">
                                <br>
                                    <dt>
                                        <h4>SUPERVISEUR DU BUREAU DE PROJET</h4>
                                        <h6>Superviseur des départements Documentation & Mécanique, Chargé de Projets</h6>
                                    </dt>
                                    <dd>Optelvision <small class="text-muted">&nbsp; 2004 – 2009</small></dd> 

                                    <p>Projets d’ingénierie de solutions technologiques d’inspection et de “Track & Trace” 
                                        pour les équipements d’empactages dans les industries pharmaceutiques </p>

                                    <dt>Envergure & principaux défis :</dt>
                                    <ul>
                                        <li>100+ solutions en parallèles pour un portefeuille de projets de $12-15 millions</li>
                                        <li>Optique - Requis client en constante variation</li>
                                        <li>Évolution rapide des technologies</li>
                                        <li>Philosophie de solutions "Clé en main" exigeant une R&D agile et rapide</li>
                                        <li>Standards élevés reliés au domaine pharmaceutique</li>
                                        <li>Cadre de Gestion de Projet en cours d’implantation</li>
                                    </ul>

                                    <dt>Responsabilités :</dt>
                                    <ul>
                                        <li>Réception des P.O., analyses préliminaires des projets et distribution aux Chargés de Projet</li>
                                        <li>Suivi et maintien du Portefeuille de Projets</li>
                                        <ul class="smallList">
                                            <li>Inclusion des WBS <small>(Work Breakdown Structure)</small> des équipes</li>
                                            <li>Collecte/Mise à jour des avancements & distribution de Tâches aux équipes</li>
                                        </ul>
                                        <li>Support aux Chargés de Projet <small>(Technique & Procédural)</small></li>
                                        <li>Priorisation des projets selon le “Global Workload” et priorité du département de vente</li>
                                        <li>Compilation des rapports Fin de Projet & inclusion dans l’amélioration continue</li>
                                        <li>Visites d’ingénierie pour qualification des projets</li>
                                        <li>Gestion des Projets Critiques et R&D</li>
                                    </ul>

                                    <dt>Réalisations :</dt>
                                    <ul>
                                        <li>Implémentation d’un Système Documentaire</li>
                                        <li>Implémentation du Bureau d’Intégration</li>
                                        <li>Implémentation d’une structure de Gestion de Projets & Solutions Engineering</li>
                                        <ul class="smallList">
                                            <li>Création de Template Gantt MS-Project</li>
                                            <li>Synchronisation des Interactions entre les équipes</li>
                                            <li>Schématisation des Processus (Diagramme bloc & Hyperlien)</li>
                                            <li>Création et révision du MOP (Manuel d’Organisation Projet)</li>
                                            <li>Audit mensuel du suivi de processus</li>
                                            <li>Liaison entre département de Services et Bureau de Projets</li>
                                            <li>Définition et mise en place d’un processus d’amélioration continue</li>
                                        </ul>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                
<!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %>
</body>
</html>