<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/mainHead', { title: 'Device Config Profile' }) %>
</head>
<body class="light-grey" id="page-top">

<%- include('partials/miniNav') %>

<div class="main" style="margin-left:300px;margin-top:43px;">
    <div class="container-fluid bg-3">
        <%- include('partials/iot/config-profile-form') %>
    </div>
    <%- include('partials/footer') %>
</div>

</body>
</html>