<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %> 

</head>




<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
      <% include partials/nav%>
  </nav>

<div class="content-wrapper">
    <div class="container-fluid bg-3 text-center">  
    
      <div class="row">
        <div class='col-sm-12'>
          <div class="card">
            <div class='card-body text-left'>
                <small><div id='devicesList'></div></small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class='col-sm-8'>
          <div class="card">
            <div class='card-body'>
                        

            <form name='userForm' id='userForm'>
    
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name='name' aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword" name='password' placeholder="Password">
                </div>
                <div class="form-group form-inline">  
                  <input class='form-control mr-2' type="text" id="lat" name="lat" placeholder="00.00">  
                  <input class='form-control' type="text" id="lon" name='lon' placeholder="00.00">  
                </div>
                
                <div class="form-group form-inline">  
                  <input class='form-control mr-2' type="text" id="creationDate" name='creationDate' placeholder="2020/01/01">   
                  <input class='form-control' type="text" id="lastConnectDate" name='lastConnectDate' placeholder="2020/03/01">  
                </div>


                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            </div>    
          </div>
        </div>
   
        <div class='col-sm-4'>
            <div class="card text-center">
              <div class='card-body'>
                  <select id="user_select" selected></select>

                  <form class='form-inline'  ">    
                    <!-- action="/set_io"  -->
        
                    <div class="form-group form-inline">  
                            <div class='form-text mb-2 mr-2'> <span id="name_label"> </span></div>  
                    </div>
          

                    <div class="form-group form-inline">  
                          <button type="button" onClick="selectUser()" class="btn btn-primary  mb-2 mr-2">Select User</button>  
                    </div>
                  
                    <input type="hidden" id="sender_id" name="sender" value="">
                    <input type="hidden" id="io_id" name="io_id" value="">
                  </form>
              
                  </div>
            </div>
        </div>
      </div>
         
        <div class="row">
            <div class="col-sm-9 mx-auto">
              <div class="card my-5 ">
                <div class="card-body ">
                  <form class="form-signin" action ="/deleteUser" method="post" enctype="application/json" >

                    <div class="input-group">
                        <input type="email" class="form-control"  name='email' id="email_id" placeholder="Email address" required autofocus>
                        <span class="input-group-btn">
                             <button class="btn btn-md btn-warning btn-block text-uppercase" type="submit">Delete User</button>
                        </span>
                     </div>



                    </form>           
                    </div>

                    
                    <div class='card text-center'>
                      <div class='card-body'>
                         <form action="/resetDB">
                          <button class="btn btn-md btn-warning btn-block text-uppercase" type="submit">!!!!  Reset DB !!!!</button>
                        </form>
                      </div>
                   </div>
                
                  
            
              
              </div>
            </div>
          </div>
        

          <div class="row">
            <div class="col-sm-9 mx-auto">
              <div class="card my-5 ">
                <div class="card-body ">
                 
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>

                </div>
              </div>
            </div>
          </div>


    </div>
</div>
<!-- /.content-wrapper & Container-fluid-->




<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<script type="text/javascript" src="js/user.js"></script>
<script>
let usr = new Users('Gazz', "<%-serverUrl%>")
console.log(usr.name)

let userList

async function setDevicesList()
{
    userList =  await usr.getUsersList()

    //document.getElementById('userList').innerHTML = list

    usr.setHtmlSelectList('user_select', userList)

    /* let items = [
            'Blue',
            'Red',
            'White',
            'Green',
            'Black',
            'Orange'
        ],
        ul = document.createElement('ul');*/

    usr.display('devicesList')


    const str = JSON.stringify(userList, null, '\t') //  the null, '\t' is to prettyfy the string
    console.log(str)
    document.getElementById('name_label').innerHTML = str
}

setDevicesList()


function getSelectedOption(sel) 
{
        var opt;
        for ( var i = 0, len = sel.options.length; i < len; i++ ) {
            opt = sel.options[i];
            if ( opt.selected === true ) {
                break;
            }
        }
        return opt;
}

function selectUser() 
{
  var sel = document.getElementById('user_select');
    for(let index in userList) 
    {
        let selected = getSelectedOption(sel)
        if(userList[index].email ==  selected.innerHTML)
        {
          console.log(userList[index])
          Tools.fillForm('userForm', userList[index])
        }
            
    }

 
}


</script>
        
    </div>
</div>
<!-- /.content-wrapper & Container-fluid-->




<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<%include partials/logout %>
<%include partials/bodyScripts %>
</body>
</html>