<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %> 

</head>


<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">    <%- include('partials/nav') %>  </nav>

<div class="content-wrapper">
    <div class="container-fluid bg-3 text-center">  
    
        <iframe src="Tools/System_Info/index.html" height="720px" ></iframe>


<!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %>
</body>
</html>