<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/mainHead') %> 

</head>


<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
<%- include('partials/nav') %>

<div class="content-wrapper">
    <div class="container-fluid bg-3 text-center">  
    
        <iframe src="Tools/System_Info/index.html" height="720px" ></iframe>


<!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %>
</body>
</html>